<!DOCTYPE html>
<html lang="es">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/estilos.css">
      <title>Panel administrador</title>

  </head>

  <body>
    <h1>Modificar datos de los usuarios</h1>    
    <div id="app">
        <form @submit.prevent="obtenerUsuario">
            <label for="dni">DNI:</label>
            <input type="number" v-model="dni" required>
            <br>
            <button type="submit">Modificar Usuario</button>
            <a href="admin.html">Menu principal</a>
        </form>
        <div v-if="mostrarDatosUsuario">
            <h2>Datos del Usuario</h2>
            
            <form @submit.prevent="guardarCambios" enctype="multipart/form-data">
            <label for="nombreModificar">Nombre:</label>
            <input type="text" id="nombreModificar" v-model="nombre" required>
            <br>
            <label for="apellidoModificar">Apellido:</label>
            <input type="text" id="apellidoModificar" v-model="apellido" required>
            <br>
            <label for="correoModificar">Correo:</label>
            <input type="email" id="correoModificar" v-model="correo" required>
            <br>
            <br>
            <label for="claveModificar">clave:</label>
            <input type="text" id="claveModificar" v-model="clave" required>
            <br>
            <br>
            <label for="edadModificar">Edad:</label>
            <input type="number" id="edadModificar" v-model="edad" required>
            <br>
            <br>
            <label for="fecnacModificar">Fecha de nacimiento:</label>
            <input type="date" id="fecnacModificar" v-model="fecnac" required>
            <br>
            <br>
            <button type="submit">Guardar Cambios</button>
            <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/modificaciones.js"></script>
    </body>
</html>