<!DOCTYPE html>
<html lang="es">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/estilos.css">
      <title>Panel administrador</title>

  </head>

  <body>
    <h1>Modificar Productos del Inventario</h1>
    <h3>Codo a Codo 2023</h3>
    <div id="app">
        <form @submit.prevent="obtenerProducto">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required>
            <br>
            <button type="submit">Modificar Producto</button>
            <a href="index.html">Menu principal</a>
        </form>
        <div v-if="mostrarDatosProducto">
            <h2>Datos del Producto</h2>
            
            <form @submit.prevent="guardarCambios">
            <label for="nombreModificar">Nombre:</label>
            <input type="text" id="nombreModificar" v-model="nombre" required>
            <br>
            <label for="apellidoModificar">Apellido:</label>
            <input type="text" id="apellidoModificar" v-model="apellido" required>
            <br>
            <label for="correoModificar">Correo:</label>
            <input type="correo" id="correoModificar" v-model="correo" required>
            <br>
            <br>
            <label for="claveModificar">clave:</label>
            <input type="text" id="correoModificar" v-model="clave" required>
            <br>
            <br>
            <label for="edadModificar">Edad:</label>
            <input type="number" id="edadModificar" v-model="edad" required>
            <br>
            <br>
            <label for="fecnacModificar">Fecha de nacimiento:</label>
            <input type="text" id="correoModificar" v-model="fecnac" required>
            <br>         
            <img v-if="imagen_url && !imagenSeleccionada":src="'static/img/' + imagen_url" alt="Imagen del producto" style="max-width: 200px;">            
            <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen" style="max-width: 200px;">            
            <label for="nuevaImagen">Nueva Imagen:</label>
            <input type="file" id="nuevaImagen" @change="seleccionarImagen">
            <br>
            <br>
            <button type="submit">Guardar Cambios</button>
            <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/modificaciones.js"></script>
    </body>
</html>